{% extends "template.html" %}
{% block content %}
<section id="background">
	<section>
		<img id="logo-home" class="center-block" src="/static/img/vp-logo-1.png">
	</section>
	<section class="splash-content content">
		<div id="get-in-touch" class="text-center">
				<a href="/contact"class="btn btn-primary btn-main"><h4>Get in touch</h4></a>
		</div>
		<div id="slogan" class="text-center">
			
			<h2>Campaigns. Policy. Analytics</h2>
		</div>
	</section>
</section>

{% endblock %}